<!-- Heading for will -->
<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
<div class="container willBox">
    <div class="willHeading">
        <h4>Please select the option that best describes your status below</h4>
        <p>STEP {{step}} OF 5</p>
    </div>
    <div ng-init="step = 2; progress = 0" class="questionBox">
        <div ng-show="step == 1" class="step1">
            <h3>General Info</h3>
            <div class="group">
                <input type="text" ng-model="newWill.name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="sLabel">Name</label>
            </div>
            <br>
            <div class="group">
                <input type="text" ng-model="newWill.familyName">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="sLabel">Family Name</label>
            </div>
            <br>
            <div class="group">
                <input type="text" ng-model="newWill.residency">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="sLabel">Residency</label>
            </div>
            <br>
            <div class="group">
                <input type="text" ng-model="newWill.nationality">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label class="sLabel">Nationality</label>
            </div>
            <br>
        </div>
        <div ng-show="step == 2" class="questionBox">
            <div class="inlined" ng-init="spouse = false">
                <div class="spouseHeading">
                    <h3>Partnerships</h3>
                    <p>I don't have any.</p>
                </div>
                <div class="spouseBody" ng-show="spouse">
                    <!-- <label>NAME</label> -->
                    <div>
                        <input type="text" name="" ng-model="spouse.name" placeholder="NAME">
                        <span class="highlight"></span>
                        <span class="bar" style="width: 150px"></span>
                    </div>
                    <!-- <label>AGE</label> -->
                    <div class="spouseAge">
                        <input type="number" ng-model="spouse.age" min="1" max="100" placeholder="AGE" required />
                        <span class="highlight"></span>
                        <span class="bar" style="width: 70px"></span>
                    </div>
                    <!-- <label>NATIONALITY</label> -->
                    <div>
                        <input type="text" name="" ng-model="spouse.nationality" placeholder="NATIONALITY">
                        <span class="highlight"></span>
                        <span class="bar" style="width: 150px"></span>
                    </div>
                    <i class="material-icons removeChildBtn" ng-click="spouse = false">remove_circle</i>
                </div>
                    

                <div class="addChildBtn" ng-click="spouse = true" ng-show="!spouse"><i class="material-icons">add_circle</i>Add Spouse</div>
            </div>
        </div>
        <div ng-show="step == 3" class="questionBox">
            <div class="inlined">
                <h3>Children and Dependencies</h3>
                <div ng-repeat="child in children" class="childItem" ng-init="child.age = ''">
                    <!-- <label>NAME</label> -->
                    <div>
                        <input type="text" name="" ng-model="child.name" placeholder="NAME">
                        <span class="highlight"></span>
                        <span class="bar" style="width: 150px"></span>
                    </div>
                    <!-- <label>AGE</label> -->
                    <div class="childAge">
                        <input type="number" ng-model="child.age" min="1" max="100" placeholder="AGE" required />
                        <span class="highlight"></span>
                        <span class="bar" style="width: 70px"></span>
                    </div>
                    <div class="childUnderage">
                        <i class="material-icons childInfo" ng-show="child.age < 18" ng-click="showThing('ua'+$index)">live_help</i>
                        <div class="underage" id="ua{{$index}}">
                            <h4>Child under 18?</h4>
                            <p>Tight pants next level keffiyeh you probably haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american appare. For more info, click <a href="#">here</a>.</p>
                            <a href="#"></a>
                        </div>
                    </div>
                    <!-- <label>NATIONALITY</label> -->
                    <div>
                        <input type="text" name="" ng-model="child.nationality" placeholder="NATIONALITY">
                        <span class="highlight"></span>
                        <span class="bar" style="width: 150px"></span>
                    </div>
                    <i class="material-icons removeChildBtn" ng-click="removeChild($index)">remove_circle</i>
                </div>
                <div class="addChildBtn" ng-click="addChild()"><i class="material-icons">add_circle</i>Add Child</div>
            </div>
        </div>
    </div>
</div>
<div class="progressButtons">
    <!-- PROGRESS BUTTONS -->
    <!-- STEP 1 -->
    <!-- ng-show="step == 1 && newWill.name && newWill.residency && newWill.nationality" ng-click="step = 2; progress = progress + 25" -->
    <button ng-show="step == 1" ng-click="step = 2">GO TO STEP {{step+1}} </button>
    <!-- STEP 2 -->
    <button ng-show="step == 2" ng-click="step = 1">Previous</button>
    <button ng-show="step == 2" ng-click="step = 3"> GO TO STEP {{step+1}} </button>
    <!-- STEP 3 -->
    <button ng-show="step == 3" ng-click="step = 2">Previous</button>
    <button ng-show="step == 3" ng-click="step = 4"> GO TO STEP {{step+1}} </button>
    <!-- STEP 4 -->
    <button ng-show="step == 4" ng-click="step = 3">Previous</button>
    <button ng-show="step == 4" ng-click="step = 5"> GO TO STEP {{step+1}} </button>
    <!-- STEP 5 -->
    <button ng-show="step == 5" ng-click="step = 4">Previous</button>
</div>