
<div class="noProfile" ng-show="!user">
    <h3>No Profile?</h3>
    <p>Sign in with google, no passwords required!</p>
    <p>Once you have an account you can access your details and will to print off at your leisure.</p>
</div>

<div class="container accountBox" ng-show="profile">
    <div class="accountInfo" ng-show="user != null && (!profile.name && !profile.email || !profile.phone || !profile.gmail)">
        <h3>Account Details:</h3>
        <p>Please fill in the details below</p>
        <div class="personalBody spouseBody">
            <div>
                <input type="text" name="" ng-model="profile.name" placeholder="Full Name">
                <span class="highlight"></span>
                <span class="bar" style="width: 150px"></span>
            </div>
            <div>
                <input type="email" name="" ng-model="profile.email" placeholder="Email">
                <span class="highlight"></span>
                <span class="bar" style="width: 150px"></span>
            </div>
            <div>
                <input type="text" name="" ng-model="profile.phone" placeholder="Phone Number">
                <span class="highlight"></span>
                <span class="bar" style="width: 150px"></span>
            </div>
            <button ng-click="createProfile(profile,user)">Save Profile</button>
        </div>
    </div>
    <div class="accountInfo" ng-show="user && (profile.name && profile.email || profile.phone || profile.gmail)">
        <h3>Account Details:</h3>
        <div class="accountInputs" ng-init="edit10">
            <label ng-show="!edit10">NAME: {{profile.name}}</label>
            <input ng-show="edit10" type="text" name="" ng-model="profile.name">
            <label ng-show="!edit10">EMAIL: {{profile.email}}</label>
            <input ng-show="edit10" type="text" name="" ng-model="profile.email">
            <label ng-show="!edit10">PHONE: {{profile.phone}}</label>
            <input ng-show="edit10" type="text" name="" ng-model="profile.phone">
            <button ng-show="!edit10" ng-click="edit10 = true">Edit</button>
            <button ng-show="edit10" ng-click="edit10 = false">Save</button>
        </div>
    </div>
    <div class="getWill" ng-show="!profile.will">
        <h2>No Will Yet?</h2>
        <a href="#!/home"><button>Make Will</button></a>
    </div>

    <div class="willSummary" ng-repeat="will in wills" ng-if="will.key == user.uid">
        <div ng-init="profile.will = will"></div>
        <h4>General:</h4>
        <div class="editorHolder step1" ng-init="edit1 = false">
            <div class="group">
                <p ng-show="!edit1">First Name: {{will.firstName}}</p>
                <input type="text" ng-model="will.firstName" placeholder="{{will.firstName}}" ng-show="edit1">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit1">Family Name: {{will.familyName}}</p>
                <input type="text" ng-model="will.familyName" placeholder="{{will.familyName}}" ng-show="edit1">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit1">Age: {{will.age}}</p>
                <input type="number" ng-model="will.age" placeholder="{{will.age}}" ng-show="edit1">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit1">Residency: {{will.country}}</p>
                <input type="text" ng-model="will.country" placeholder="{{will.country}}" ng-show="edit1">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit1">Nationality: {{will.nationality}}</p>
                <input type="text" ng-model="will.nationality" placeholder="{{will.nationality}}" ng-show="edit1">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <button ng-click="edit1 = true" ng-show="!edit1">Edit</button>
            <button ng-click="edit1 = false" ng-show="edit1">Save</button>
        </div>
        <h4>Executor:</h4>
        <div class="editorHolder step1" ng-init="edit4 = false">
            <div class="group">
                <p ng-show="!edit5">First Name: {{will.executor.firstName}}</p>
                <input type="text" ng-model="will.executor.firstName" placeholder="{{will.executor.firstName}}" ng-show="edit5">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit5">Family Name: {{will.executor.familyName}}</p>
                <input type="text" ng-model="will.executor.familyName" placeholder="{{will.executor.familyName}}" ng-show="edit5">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit5">Age: {{will.executor.age}}</p>
                <input type="number" ng-model="will.executor.age" placeholder="{{will.executor.age}}" ng-show="edit5">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit5">Residency: {{will.executor.country}}</p>
                <input type="text" ng-model="will.executor.country" placeholder="{{will.executor.country}}" ng-show="edit5">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group">
                <p ng-show="!edit5">Nationality: {{will.executor.nationality}}</p>
                <input type="text" ng-model="will.executor.nationality" placeholder="{{will.executor.nationality}}" ng-show="edit5">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <button ng-click="edit5 = true" ng-show="!edit5">Edit</button>
            <button ng-click="edit5 = false" ng-show="edit5">Save</button>
        </div>
        <h4>Partnership:</h4>
        <div class="editorHolder step1" ng-init="edit1 = false">
            <p ng-show="!will.spouse">No Partner or Spouse selected.</p>
            <div class="group" ng-show="will.spouse">
                <p ng-show="!edit2">First Name: {{will.spouse.firstName}}</p>
                <input type="text" ng-model="will.spouse.firstName" placeholder="{{will.spouse.firstName}}" ng-show="edit2">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group" ng-show="will.spouse">
                <p ng-show="!edit2">Family Name: {{will.spouse.familyName}}</p>
                <input type="text" ng-model="will.spouse.familyName" placeholder="{{will.spouse.familyName}}" ng-show="edit2">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group" ng-show="will.spouse">
                <p ng-show="!edit2">Age: {{will.spouse.age}}</p>
                <input type="number" ng-model="will.spouse.age" placeholder="{{will.spouse.age}}" ng-show="edit2">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <div class="group" ng-show="will.spouse">
                <p ng-show="!edit2">Nationality: {{will.spouse.nationality}}</p>
                <input type="text" ng-model="will.spouse.nationality" placeholder="{{will.spouse.nationality}}" ng-show="edit2">
                <span class="highlight"></span>
                <span class="bar"></span>
            </div>
            <button ng-click="edit2 = true" ng-show="!edit2 && will.spouse">Edit</button>
            <button ng-click="edit2 = false" ng-show="edit2 && will.spouse">Save</button>
        </div>
        <h4>Children:</h4>
        <div class="editorHolder step1" ng-init="edit3 = false">
            <p ng-show="will.children.length == 0">No children.</p>
            <div ng-repeat="child in will.children track by $index" class="childHolder">
                <div class="group">
                    <p ng-show="!edit3">Name: {{child.name}}</p>
                    <input type="text" ng-model="child.name" placeholder="{{child.name}}" ng-show="edit3">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="group">
                    <p ng-show="!edit3">Age: {{child.age}}</p>
                    <input type="number" ng-model="child.age" placeholder="{{child.age}}" ng-show="edit3">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
                <div class="group">
                    <p ng-show="!edit3">Nationality: {{child.nationality}}</p>
                    <input type="text" ng-model="child.nationality" placeholder="{{child.nationality}}" ng-show="edit3">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                </div>
            </div>
            <button ng-click="edit3 = true" ng-show="!edit3 && will.spouse">Edit</button>
            <button ng-click="edit3 = false" ng-show="edit3 && will.spouse">Save</button>
        </div>
        <button ng-click="view(will)">View Will</button>
    </div>
</div>
<div></div>
